/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #fff;
}

body {
  background-color: #1A1A1A;
  font-weight: 400;
  font-family: "Syne", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none
}

a,
button,
input,
textarea {
  outline: none !important;
  transition: all .2s ease-in;
}





/* ----------------------------- HEADER AREA START ------------------------ */
.header-area .container {
  max-width: 1480px;
}

.header-inner-block {
  gap: 80px;
}

.header-right-bock {
  gap: 55px;
}

.header-navigation nav ul {
  gap: 35px;
}

.header-buttons {
  gap: 10px;
}

.header-navigation nav ul li a {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #8D8D8D;
}

.header-navigation nav ul li a:hover {
  color: #FF9142;
}

.header-logo a img {
  height: 55px;
}

.header-buttons a {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 36px;
  background-color: #0E0E0F;
  border: 2px solid #5E5E5E;
  border-radius: 60px;
  line-height: 1;
  color: #fff;
}

.header-area {
  padding-block: 20px;
  width: 100%;
  background-color: #1A1A1A;
  border-bottom: 1px solid #ffffff1c;
  z-index: 22;
}

.header-buttons a:hover {
  background-color: #FF9142;
  border-color: #FF9142;
  box-shadow: 0px 0px 20px 0px #ff802570;
}

.header-buttons .sign-btn {
  background-color: #FF9142;
  border-color: #FF9142;
  box-shadow: 0px 0px 20px 0px #ff802570;
}

.header-buttons .sign-btn:hover {
  background-color: #0E0E0F;
  border-color: #5E5E5E;
  box-shadow: none;
}

/* ----------------------------- HEADER AREA END ------------------------ */


/* ----------------------------- HERO AREA START ------------------------ */
.hero-area {
  padding-top: 150px;
}

.hero-inner-block .row {
  --bs-gutter-x: 62px;
  --bs-gutter-y: 20px;
}

.common-content h3 {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  margin-bottom: 20px;
}

.common-content p {
  letter-spacing: 5.5%;
  font-size: 18px;
  color: #A8A8A8;
  margin: 0;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
}

.common-btn {
  background-color: #FF9142;
  color: #fff;
  border-radius: 60px;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  max-width: 285px;
  padding-right: 10px;
  margin-top: 70px;
  font-weight: 600;
}

.common-btn span {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  flex: 0 0 auto;
  color: #FF9142;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: all .2s ease-in;
}

.common-btn:hover {
  background-color: #DD7C36;
  color: #d6d6d6;
  box-shadow: 0px 0px 20px 0px #ff802570;
}

.common-btn:hover span {
  background-color: #d6d6d6;
  color: #DD7C36;
  transform: rotate(-45deg);
}

.hero-thumb {
  height: 530px;
}

.hero-left-block .common-content h3 {
  max-width: 600px;
}

.hero-left-block .common-content {
  max-width: 625px;
}

/* ----------------------------- HERO AREA END ------------------------ */

/* ----------------------------- SKILL AREA START ------------------------ */
.skill-area .container {
  max-width: 1000px;
}

.skill-wrapper {
  max-width: 1124px;
  margin: 0 auto;
}

.skill-wrapper .row {
  --bs-gutter-x: 60px;
  --bs-gutter-y: 40px;
}

.skill-details h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  letter-spacing: 2.5%;
}

.skill-details .progress .progress-bar {
  background-color: #FF9142 !important;
}

.skill-details .progress {
  height: 12px;
  background-color: #949494;
}

.skill-inner-block .common-content {
  max-width: 600px;
  margin: 0 auto 40px;
}

/* ----------------------------- SKILL AREA END ------------------------ */


/* ----------------------------- WORK AREA START ------------------------ */
.work-inner-block {
  max-width: 1140px;
  margin: 0 auto;
}

.work-content {
  border-bottom: 1px solid #949494;
}

.work-thumb a {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.work-thumb a:hover {
  box-shadow: 0px 0px 25px 0px #ff80254d;
}

.work-thumb {
  height: 345px;
  margin-bottom: 32px;
  width: 100%;
}

.work-thumb a:hover img {
  transform: scale(1.1);
}

.work-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in;
}

.work-wrapper .row {
  --bs-gutter-x: 22px;
  --bs-gutter-y: 50px;
}

.work-card-content {
  text-align: center;
}

.work-card-content h6 {
  font-size: 15px;
  font-weight: 700;
  color: #F4F7FA;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1.63px;
  font-family: "Inter", sans-serif;
}

.work-card-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.5%;
  font-family: "Inter", sans-serif;
}

.secondary-btn {
  border: 1px solid #FF9142;
  background: transparent;
  color: #FF9142;
  padding: 18px 31px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5%;
}

/* ----------------------------- WORK AREA END ------------------------ */


/* ----------------------------- SERVICE AREA START ------------------------ */
.service-area .container {
  max-width: 1340px;
}

.service-inner-block .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}

.square-box {
  height: 90px;
  width: 90px;
  margin: 30px auto 50px;
  position: relative;
  border-radius: 15px;
  transform: rotate(45deg);
  background-color: #FF9142;
  box-shadow: 0px 0px 27px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-box i {
  transform: rotate(315deg);
  display: block;
  color: #fff;
  font-size: 35px;
}

.square-box::before {
  position: absolute;
  left: -14px;
  top: 4px;
  width: 1px;
  height: 95%;
  background-color: #fa9746;
  content: '';
}

.square-box::after {
  position: absolute;
  left: 44px;
  top: 60px;
  width: 1px;
  height: 95%;
  background-color: #fa9746;
  content: '';
  transform: rotate(90deg);
}

.service-content {
  text-align: center;
}

.service-content h5 {
  color: #FF9142;
  font-weight: 600;
  letter-spacing: 1.5%;
  font-size: 24px;
  margin-bottom: 10px;
}

.service-content p {
  color: #fff;
  margin: 0;
  line-height: 26px;
  letter-spacing: 0.5%;
  font-family: "Rubik", sans-serif;
}

.service-content hr {
  width: 30px;
  border-top: 3px solid rgb(0 169 211);
}

/* ----------------------------- SERVICE AREA END ------------------------ */


/* ----------------------------- CONTACT AREA START ------------------------ */
.contact-wrapper .row {
  --bs-gutter-x: 50px;
  --bs-gutter-y: 30px;
}

.contact-content h2 {
  font-size: 68px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 1%;
  margin: 0;
}

.contact-input-step {
  margin-bottom: 20px;
}

.contact-input-step input {
  width: 100%;
  background-color: #0E0E0F;
  border: none;
  border-bottom: 1px solid #5E5E5E;
  padding: 28px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.contact-input-step input::placeholder {
  color: #fff;
  opacity: 1;
}

.contact-input-step textarea::placeholder {
  color: #fff;
  opacity: 1;
}

.contact-input-step textarea {
  width: 100%;
  resize: none;
  background-color: #0E0E0F;
  border: none;
  border-bottom: 1px solid #5E5E5E;
  padding: 28px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 1;
  height: 180px;
}

.contact-input-step input:focus {
  border-color: #FF9142;
  color: #FF9142;
}


.contact-input-step textarea:focus {
  border-color: #FF9142;
  color: #FF9142;
}

.contact-input-step textarea:focus {
  border-color: #FF9142;
  color: #FF9142;
}

.submit-btn {
  padding: 25px;
  text-align: center;
  width: 100%;
  background-color: #0E0E0F;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  border: none;
  border-bottom: 1px solid #5E5E5E;
}

.submit-btn:hover {
  background-color: #FF9142;
  border-color: #FF9142;
}

/* ----------------------------- CONTACT AREA END ------------------------ */


/* ----------------------------- FOOTER AREA START ------------------------ */
.footer-area {
  background-color: #131313;
}

.footer-title {
  text-align: center;
}

.footer-title h4 {
  text-align: center;
  color: #FF9142;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 2%;
}

.footer-title a {
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.footer-title a:hover {
  text-decoration: underline;
}

.copyright-text {
  margin-top: 74px;
  padding-top: 35px;
  border-top: 1px solid #949494;
}

.copyright-text p {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.footer-contact a {
  color: #fff;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 4%;
  line-height: 34px;
}

.footer-contact a:first-child {
  margin-bottom: 20px;
}

.footer-social-block h4 {
  color: #fff;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 4%;
  line-height: 34px;
  margin-bottom: 20px;
}

.footer-social-icons {
  gap: 10px;
}

.footer-social-icons a {
  color: #5E5E5E;
  font-size: 16px;
  width: 41px;
  height: 40px;
  border: 1px solid #5E5E5E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 60px;
  background-color: #0E0E0F;
}

.footer-social-icons a:hover {
  background-color: #FF9142;
  border-color: #FF9142;
  color: #fff;
}

.footer-contact a:hover {
  color: #FF9142;
}

.footer-logo a img {
  height: 65px;
}

/* ----------------------------- FOOTER AREA END ------------------------ */